/* Error: Undefined variable.
 *     ,
 * 137 |   box-shadow: $box-shadow;
 *     |               ^^^^^^^^^^^
 *     '
 *   admin/scss/components/_queue.scss 137:15  @forward
 *   admin/scss/components/_index.scss 9:1     @use
 *   admin/scss/main.scss 20:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 137 \2502    box-shadow: $box-shadow;\a     \2502                ^^^^^^^^^^^\a     \2575 \a   admin/scss/components/_queue.scss 137:15  @forward\a   admin/scss/components/_index.scss 9:1     @use\a   admin/scss/main.scss 20:1                 root stylesheet";
}
